 .u-section-1 {
  min-height: 781px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 2210px;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-shape-1 {
  height: 1115px;
  background-image: linear-gradient(#1a1a1a, rgba(17,17,17,0));
  margin-top: -2210px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 538px;
  height: 261px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -980px auto 0 calc(((100% - 1140px) / 2) + 17px);
}

.u-section-1 .u-shape-2 {
  width: 253px;
  height: 285px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 66px calc(((100% - 1140px) / 2) + 41px) 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 112px;
  height: 377px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -593px auto 0 calc(((100% - 1140px) / 2) + 43px);
}

.u-section-1 .u-layout-wrap-1 {
  width: 995px;
  margin: -352px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 550px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: none;
  font-weight: 600;
  margin: 85px 30px 0;
}

.u-section-1 .u-line-1 {
  width: 215px;
  transform-origin: left center 0px;
  margin: 17px auto 0 35px;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 57px 30px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 28px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 550px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 0.83;
  --animation-custom_in-rotate: 0deg;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 27px;
}

.u-section-1 .u-image-2 {
  height: 474px;
  object-position: 45.01% 28.41%;
  background-position: 45.01% 28.41%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    min-height: 2062px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -2061px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 17px);
  }

  .u-section-1 .u-shape-2 {
    margin-top: 36px;
    margin-right: calc(((100% - 940px) / 2) + -26px);
  }

  .u-section-1 .u-shape-3 {
    margin-top: -557px;
    margin-left: calc(((100% - 940px) / 2) + -23px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -358px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 520px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-layout-cell-2 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    min-height: 520px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    height: 445px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 659px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 17px);
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 720px) / 2) + -26px);
  }

  .u-section-1 .u-shape-3 {
    margin-left: calc(((100% - 720px) / 2) + -23px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 1;
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
    min-height: 398px;
  }

  .u-section-1 .u-image-2 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 888px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + 2px);
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 540px) / 2) + -26px);
  }

  .u-section-1 .u-shape-3 {
    margin-left: calc(((100% - 540px) / 2) + -23px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 527px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-1 .u-image-2 {
    height: 483px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 597px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 165px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 340px) / 2) + -26px);
  }

  .u-section-1 .u-shape-3 {
    margin-left: calc(((100% - 340px) / 2) + -23px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-btn-1 {
    padding: 10px 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 332px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 297px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 700px;
}

.u-section-2 .u-image-1 {
  width: 585px;
  height: 284px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 412px -19px 0 auto;
}

.u-section-2 .u-shape-1 {
  width: 253px;
  height: 285px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -302px auto 0 13px;
}

.u-section-2 .u-shape-2 {
  width: 133px;
  height: 384px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -614px 12px 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1055px;
  margin: -359px auto 60px 43px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 571px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-2 {
  height: 501px;
  object-position: 45.01% 28.41%;
  background-position: 45.01% 28.41%;
  box-shadow: 9px 9px 22px 0px rgba(192,192,192,0.8);
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 500;
  text-transform: capitalize;
  margin: 68px 0 0;
}

.u-section-2 .u-line-1 {
  width: 207px;
  margin: 14px auto 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 41px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 41px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-top: 340px;
    margin-right: -12px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -293px;
    margin-left: -20px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -547px;
    margin-right: -26px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -363px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-image-2 {
    height: 441px;
    margin-top: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    text-transform: none;
    font-weight: 600;
    width: auto;
    margin-top: 21px;
  }

  .u-section-2 .u-line-1 {
    width: 176px;
    transform-origin: left center 0px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 24px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 304px;
    margin-right: -17px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -312px;
    margin-left: -27px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -492px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 378px;
    width: 404px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 25px;
    margin-left: 31px;
    margin-right: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 262px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -290px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 498px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 23px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 165px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -193px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 314px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-image-2 {
    height: 318px;
    margin-top: 0;
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 8px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 8px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 716px;
}

.u-section-3 .u-image-1 {
  width: 538px;
  height: 261px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 14px auto 0 24px;
}

.u-section-3 .u-shape-1 {
  width: 253px;
  height: 285px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -229px 5px 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 315px;
  height: 392px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -57px auto 0 10px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1068px;
  margin: -595px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 584px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 500;
  text-transform: capitalize;
  margin: 74px 0 0;
}

.u-section-3 .u-line-1 {
  width: 186px;
  transform-origin: left center 0px;
  margin: 9px auto 0 2px;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 24px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 28px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 584px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  object-position: 54.33% 28.41%;
  background-position: 45.01% 28.41%;
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1);
  width: 689px;
  height: 509px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 24px auto -24px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -29px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -219px;
    margin-right: -22px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -186px;
    margin-left: -24px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -479px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 467px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    text-transform: none;
    font-weight: 600;
    width: auto;
    font-size: 2.25rem;
    margin-top: 46px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-line-1 {
    width: 173px;
    margin-top: 19px;
    margin-left: 23px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-right: 47px;
    margin-left: 23px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 25px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 467px;
  }

  .u-section-3 .u-image-2 {
    width: 578px;
    height: 399px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 0;
    margin-right: 138px;
    margin-left: 44px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -254px;
    margin-right: -20px;
  }

  .u-section-3 .u-shape-2 {
    width: 277px;
    height: 347px;
    margin-top: -189px;
    margin-left: -19px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -424px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 7px;
    margin-left: 23px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.75rem;
    margin-right: 9px;
    margin-left: 14px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 44px;
    padding: 10px 30px 11px 29px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 414px;
  }

  .u-section-3 .u-image-2 {
    width: 464px;
    height: 345px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1490px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 49px;
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -123px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -427px;
    margin-left: -17px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -367px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    order: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 444px;
    order: 1;
    margin-bottom: 678px;
  }

  .u-section-3 .u-image-2 {
    width: 498px;
    margin-top: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1181px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 165px;
    margin-top: 36px;
    margin-right: 0;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -27px;
  }

  .u-section-3 .u-shape-2 {
    margin-left: -19px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 52px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    width: 263px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 14px;
    margin-left: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 280px;
  }

  .u-section-3 .u-image-2 {
    object-position: 54.57% 0%;
    height: 234px;
    width: 312px;
    margin-top: 0;
  }
} .down-arrow{
  position: absolute;
  top: calc(100vh - 60px);
  left: calc(50% - 14px);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
  margin: 0px auto;
}
.down-arrow:after {
  content: " ";
  position: absolute;
  top: 9px;
  left: -8.5px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}
@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}
#particles-js{ position:absolute; width: 100%; height: 100%; background-color: #0d6efd; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } 