 .u-section-1 {
  min-height: 1000px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 2547px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-shape-1 {
  height: 1184px;
  background-image: linear-gradient(#1e1e1e, rgba(225,228,235,0.01));
  margin-top: -2547px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 538px;
  height: 261px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -985px auto 0 calc(((100% - 1140px) / 2) + 68px);
}

.u-section-1 .u-shape-2 {
  width: 253px;
  height: 285px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 4px calc(((100% - 1140px) / 2) + 110px) 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 112px;
  height: 377px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -483px auto 0 calc(((100% - 1140px) / 2) + 110px);
}

.u-section-1 .u-layout-wrap-1 {
  width: 855px;
  margin: -413px auto 60px calc(((100% - 1140px) / 2) + 143px);
}

.u-section-1 .u-layout-cell-1 {
  min-height: 498px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 110px 30px 0;
}

.u-section-1 .u-line-1 {
  border-style: double;
  height: 3px;
  transform-origin: center top 0px;
  width: 270px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 33px 82px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 498px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 30px 0;
}

.u-section-1 .u-image-2 {
  width: 425px;
  height: 428px;
  object-position: 45.01% 28.41%;
  background-position: 45.01% 28.41%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: -995px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -218px;
    margin-right: calc(((100% - 940px) / 2) + 19px);
  }

  .u-section-1 .u-shape-3 {
    margin-top: -97px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -541px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-image-2 {
    width: 414px;
    height: 429px;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-top: -2442px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -697px;
    margin-right: calc(((100% - 1140px) / 2) + 110px);
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 720px) / 2) + 19px);
    margin-left: calc(((100% - 1140px) / 2) + 357px);
  }

  .u-section-1 .u-shape-3 {
    margin-right: calc(((100% - 1140px) / 2) + 498px);
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-right: calc(((100% - 1140px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    order: 1;
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 26px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 42px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
    min-height: 419px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-2 {
    height: 428px;
    width: 425px;
    margin-left: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-top: -2106px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -1033px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 540px) / 2) + 19px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-shape-3 {
    margin-right: calc(((100% - 1140px) / 2) + 318px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    font-weight: 600;
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 555px;
  }

  .u-section-1 .u-image-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    min-height: 2612px;
  }

  .u-section-1 .u-shape-1 {
    height: 1148px;
    margin-top: -2612px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 165px;
    margin-top: -989px;
    margin-left: calc(((100% - 340px) / 2) + -27px);
  }

  .u-section-1 .u-shape-2 {
    margin-top: -142px;
    margin-right: calc(((100% - 340px) / 2) + -18px);
    margin-left: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -56px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2) + -14px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -589px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 7px;
  }

  .u-section-1 .u-line-1 {
    width: 160px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 19px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 390px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 21px 0;
  }

  .u-section-1 .u-image-2 {
    height: 338px;
    width: 310px;
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 795px;
}

.u-section-2 .u-image-1 {
  width: 585px;
  height: 284px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px 37px 0 auto;
}

.u-section-2 .u-shape-1 {
  width: 253px;
  height: 285px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -319px auto 0 84px;
}

.u-section-2 .u-shape-2 {
  width: 122px;
  height: 377px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -572px 98px 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  width: 855px;
  margin: -334px auto -186px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 488px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-2 .u-image-2 {
  height: 428px;
  object-position: 45.01% 28.41%;
  background-position: 45.01% 28.41%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
}

.u-section-2 .u-line-1 {
  width: 170px;
  height: 0;
  border-style: double;
  margin: 13px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 28px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-2 .u-image-1 {
    height: 273px;
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 233px;
    margin-top: -306px;
    margin-left: 20px;
  }

  .u-section-2 .u-shape-2 {
    margin-right: 20px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 818px;
    margin-bottom: -197px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1059px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 15px;
  }

  .u-section-2 .u-shape-1 {
    width: 198px;
    margin-top: -327px;
    margin-left: 76px;
  }

  .u-section-2 .u-shape-2 {
    width: 115px;
    margin-top: -852px;
    margin-right: 83px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 480px;
    margin-top: -339px;
    margin-bottom: -481px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-2 .u-image-2 {
    height: 665px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1092px;
  }

  .u-section-2 .u-image-1 {
    height: 316px;
    width: 409px;
    margin-top: 56px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 208px;
    height: 323px;
    margin-top: 291px;
    margin-left: 28px;
  }

  .u-section-2 .u-shape-2 {
    width: 99px;
    margin-top: -939px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 434px;
    margin-bottom: -531px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 555px;
  }

  .u-section-2 .u-image-2 {
    height: 482px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    text-transform: none;
    font-weight: 600;
    margin-top: 62px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 36px;
    margin-left: 62px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-2 .u-image-1 {
    height: 262px;
    margin-top: 453px;
    width: 340px;
  }

  .u-section-2 .u-shape-1 {
    width: 191px;
    height: 181px;
    margin-top: -209px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -650px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 274px;
    margin-top: -351px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-2 .u-image-2 {
    height: 261px;
    object-position: 24.37% 28.41%;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 57px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 57px;
    margin-left: 8px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 716px;
}

.u-section-3 .u-image-1 {
  width: 538px;
  height: 261px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 34px auto 0 76px;
}

.u-section-3 .u-shape-1 {
  width: 253px;
  height: 285px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -231px 104px 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 521px;
  height: 376px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -98px auto 0 104px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 855px;
  margin: -527px auto 74px;
}

.u-section-3 .u-layout-cell-1 {
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
}

.u-section-3 .u-line-1 {
  width: 160px;
  height: 0;
  margin: 26px 0 0 110px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 28px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 489px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-3 .u-image-2 {
  height: 429px;
  object-position: 0% 28.41%;
  background-position: 45.01% 28.41%;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    width: 614px;
    height: 304px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-1 {
    margin-right: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 625px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-line-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 998px;
  }

  .u-section-3 .u-shape-1 {
    width: 242px;
    height: 242px;
    margin-right: 71px;
  }

  .u-section-3 .u-shape-2 {
    width: 337px;
    height: 752px;
    margin-top: -267px;
    margin-left: 40px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 520px;
    margin-top: -707px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 283px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 496px;
  }

  .u-section-3 .u-image-2 {
    height: 426px;
    object-position: 49.71% 28.41%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-image-1 {
    width: 391px;
    height: 267px;
    margin-top: 9px;
    margin-left: 25px;
  }

  .u-section-3 .u-shape-1 {
    height: 442px;
    margin-top: -221px;
    margin-right: 13px;
  }

  .u-section-3 .u-shape-2 {
    width: 233px;
    height: 390px;
    margin-top: -168px;
    margin-left: 26px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 434px;
    margin-top: -696px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 263px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    text-transform: none;
    font-weight: 600;
  }

  .u-section-3 .u-line-1 {
    width: 170px;
    border-style: double;
    margin-top: 12px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 39px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 423px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 369px;
    object-position: 51.85% 28.41%;
    --animation-custom_in-scale: 0.3;
    margin-top: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-3 .u-image-1 {
    height: 232px;
    margin-top: 71px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-shape-1 {
    width: 172px;
    height: 437px;
    margin-top: -207px;
    margin-right: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 176px;
    height: 324px;
    margin-top: -138px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 282px;
    margin-top: -591px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 223px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 10px;
    margin-left: 20px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 17px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 347px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    height: 303px;
  }
} #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #0d6efd; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }    
.arrows {
  width: 60px;
  height: 80px;
  position: fixed;
  left: 50%;
  margin-left: -30px;
  bottom: 1px;
  z-index: 9;
}
.arrows path {
  stroke: white;
  fill: transparent;
  stroke-width: 2.5px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}
@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}
@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}
.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}
.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}
.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}